  nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  /* margin-top: 2em; */
  padding: 1em 2em;
  max-width: 95%;
  background: rgb(240, 239, 239);
  box-shadow: 0 4px 2px -2px rgb(184, 184, 184);
  z-index: 20;
 }

 ul{
  display: flex;
  flex-basis: 1;
  justify-content: center;
  align-items: center;
 } 

 
nav ul li{
  display: inline-block;
  list-style: none;
  padding-left: 2em;
  font-size: 1rem;
};