.sidebar{
  position: sticky;
  top: 15%;
  bottom: auto;
  left: 0;
  background: rgb(224, 224, 224);
  width: 10%; 
  /* margin-top: 8%;  */
  border: 2px solid rgb(81, 255, 1);
  padding: 1em;
  border-radius: 5px;
  z-index: -5;
}

.sidebar p{
  padding: 0.2em;
  background: rgb(243, 240, 237);
  margin-bottom: 0.3em;
  border-radius: 5px;
  /* line-height: 0.9em; */
}