.my-footer{
  width: 99.5vw;
  min-width: 98vw;
  background-color: black;
  position: relative;
  bottom: 0;
  color: azure; 
  /* right: 0; */
}

.container{
  display: flex;
  flex-direction: column;
  color: red;
  max-height: 25vh;
  /* min-width: 95vw; */
  /* width: 99.5vw; */
  
  overflow: hidden;
}



 span:before {
  content:" \00a9 ";
  font-size:0.9rem;
}