.stock-hero{
  background: rgb(231, 231, 231);
  padding-bottom: 10%;
  width: 74%;
  position: relative;
  left: 15%;
  padding: 2em;
  margin: 1em 0;
  border-radius: 5px;
  box-shadow: 4px 4px 4px 4px rgb(212, 212, 212);
  
}

.stock-hero h2{
  text-decoration:underline ;
}