.user-hero{
  padding-bottom: 10%;
  width: 54%;
  position: relative;
  padding: 2em;
  margin: auto;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgb(212, 212, 212);
  
}

.signup-container {
  padding-top: 5em;
}

/* 
"email": "billy258@gmail.com",
"password": "Ninawes230." */